$primary-color: #096dd9;
$second-color: #f8c13c;


.component-createRoute {
  .icon {
    font-size: 18px;
  }

  .background-home {
    height: 180px;
    width: 100%;
    background-color: $primary-color;
  }

  .form-booking {
    position: relative;
    top: -25px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;


    width: 90%;
    height: 100px;
    background-color: $second-color;
  }

  .list-info-driver {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}



