.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#components-layout-demo-top .logo {
    width: 150px;
    float: left;
}

#components-layout-demo-top .logo h1 {
    color: white;
}

img {
    width: 100%;
}

.ant-menu-item {
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.ant-menu-item a:hover {
    color: white !important;
}

.ant-form-item{
    margin-bottom: 5px !important;
}

/*.ant-layout-header {*/
/*    background: white !important;*/
/*}*/
