$primary-color: #096dd9;
$second-color: #f8c13c;


.component-search{
  .icon{
    font-size: 18px;
  }
  .background-home {
    height: 180px;
    width: 100%;
    background-color: $primary-color;
  }

  .form-booking {
    position: relative;
    top: -25px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;


    width: 90%;
    height: 100px;
    background-color: $second-color;
  }

  .background-top-form {
    img {
      width: 100%;
    }
  }

  .tab-form-book {
    margin-top: -50px;
    padding-top: 35px;
  }

  .list-route {
    margin-top: 2em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    .routeCard{
      width: 100%;
      border-bottom: 1px solid #cccccc;
      .insideRouteCard{
        padding: 30px;
        .locationRoute{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            font-size: 18px;
            font-weight: bold;
          }
        }
        .timeRoute{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-top: 30px;
          span{
            margin-left: 8px;
            font-size: 18px;
          }
        }

        .infoRoute{
          display: flex;
          justify-content: space-around;
          align-items: center;
          span{
            font-size: 18px;
          }
        }
        .availableUser{
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-top: 30px;
        }

        .feeRoute{
          span{
            font-size: 15px;
            font-weight: bold;
          }
        }
        .buttonRoute{
          margin-top: 30px;
        }
      }
    }
  }
}



