$primary-color: #096dd9;
$second-color: #f8c13c;


.component-search{
  .background-home {
    height: 180px;
    width: 100%;
    background-color: $primary-color;
  }

  .form-booking {
    position: relative;
    top: -25px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;


    width: 90%;
    height: 100px;
    background-color: $second-color;
  }

  .background-top-form {
    img {
      width: 100%;
    }
  }

  .tab-form-book {
    margin-top: -50px;
    padding-top: 35px;
  }

  .list-route {
    margin-top: 8em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .route-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }
  }
}

